<!DOCTYPE html>
<html>
<head>
    <title>Stylesheet Validator</title>

    {%load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {%load static %}
    <script src="{% static 'scripts/index.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="main-bar">
        <div class = "main-bar-content">
            <a href="../">Google Stylesheets validator</a>
        </div>
    </div>

    <div class = "main-table">
        {% for classroom in classrooms %}
            <table class = "table table-hover">
                <thead>
                    <tr>
                        {{classroom.0}}
                    </tr>
                </thead>
                <tbody>
                    {% for start,end in classroom.1 %}
                        <tr>
                            <td>
                                {{start}}
                            </td>
                            <td>
                                {{end}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>

    <div class="footer navbar-fixed-bottom refresh-container">
        <button onclick="location.reload()">
            {% load static %}
            <img src="{% static 'files/64x64.png' %}">
        </button>
    </div>
</body>
</html>